BOOTBRANCH="v$(git ls-remote git://git.denx.de/u-boot.git | grep -v '\^' | tail -1 | cut -d'v' -f 2)"

#LINUXKERNEL='https://github.com/jwrdegoede/linux-sunxi.git'
#KERNELBRANCH='sunxi-wip'
LINUXKERNEL='https://kernel.googlesource.com/pub/scm/linux/kernel/git/stable/linux-stable'
#KERNELBRANCH='linux-4.6.y'
KERNELBRANCH='v4.6.2'
LINUXSOURCE='linux-sunxi-mainline'

KERNEL_TARGET="default,dev,next"

DEBIAN_MIRROR="ftp.de.debian.org/debian/"

#for FILE in $SRC/lib/patch/kernel/sun8i-dev/*.patch ; do
#	touch "$SRC/userpatches/kernel/sun8i-dev/"$(basename $FILE)
#done

#  overriding definition in lib/config/sources/sunxi_common.inc:
install_boot_script()
{
	if [[ -f $SRC/userpatches/boot.cmd ]]; then
		display_alert "Using custom boot script" "userpatches/boot.cmd" "info"
		cp $SRC/userpatches/boot.cmd $CACHEDIR/sdcard/boot/boot.cmd
	else
		cp $SRC/lib/config/bootscripts/boot-sunxi.cmd $CACHEDIR/sdcard/boot/boot.cmd
	fi

	[[ "${BRANCH}" == "next" ]] && touch $CACHEDIR/sdcard/boot/.next
	touch $CACHEDIR/sdcard/boot/.verbose

	# orangepi h3 temp exceptions
	[[ $LINUXFAMILY == sun8i ]] && sed -i -e '1s/^/gpio set PL10\ngpio set PG11\nsetenv machid 1029\nsetenv bootm_boot_mode sec\n/' \
		-e 's/\ disp.screen0_output_mode=1920x1080p60//' -e 's/\ hdmi.audio=EDID:0//' $CACHEDIR/sdcard/boot/boot.cmd
}
